<style type="text/css">
* { font-family: helvetica, sans-serif; font-size: 12px; }
table { width: 50%; }
td { text-align: center; }
.total td { border-top: 1px solid #ccc; padding-top: 1em; }
</style>
<p>Here are your mood stats for the past week!</p>

<table>
  <tr>
    <th>Date</th>
    <th>Average</th>
    <th>Std Dev</th>
  </tr>

<% @stats[:days].keys.sort.each do |day| -%>
  <tr>
    <td><%= day %></td>
    <td><%= @stats[:days][day][:average].round(3) %></td>
    <td><%= @stats[:days][day][:stdev].round(3) %></td>
  </tr>
<% end -%>
  <tr class="total">
    <td>Total</td>
    <td><%= @stats[:week][:average].round(3) %></td>
    <td><%= @stats[:week][:stdev].round(3) %></td>
  </tr>
</table>
